[submodule "pEngine/thirdParty/spdlog"]
	path = pEngine/thirdParty/spdlog
	url = https://github.com/gabime/spdlog

submodule "pEngine/thirdParty/glfw"]
	path = pEngine/thirdParty/glfw
	url = https://github.com/TheCherno/glfw